/* @import url('https://fonts.googleapis.com/css?family=Roboto');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
ul{
  padding: 0;
  margin: 0;
}

nav{
  background-color: brown;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
} 
.header{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 3rem;
}
nav ul{
  display: flex;
  list-style: none;;
}
nav ul li{
  padding-left: 2rem;
}

nav ul li a{
  text-decoration: none;
  color: black;
}

 div .BurgerMenu__container{
  display: none;
} 

.menu{
  display: flex;
    justify-content: center;
    align-items: center;
}

.BurgerMenu__container {
  display: flex;
  flex-direction: column;
  padding-left: .8rem;
}

i {
  background-color: gray;
  width: 3.2rem;
  height: .4rem;
  margin: .4rem;
  border-radius: .2rem;
  transition:all ease 0.5s;
}

.open:nth-child(1) {
  transform: rotate(45deg) translateY(.8rem) translateX(.8rem);
}

.open:nth-child(2) {
  opacity: 0;
}

.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-.8rem) translateX(.8rem);
}


.close:nth-child(1) {
  transform: rotate(0) translateY(0);
}

.close:nth-child(2) {
  opacity: 1;
}

.close:nth-child(3) {
  transform: rotate(0) translateY(0);
}
.btn{
  width: 100%;
}
.col-md-6 span{
  padding-left: .6rem;
}

.col-md-6 h1 span{
  font-size: 2.5rem;
  font-weight: 700!important;
}

 .btn {
  
    font-size: 2.5rem !important ;
    
  border-radius: 2.3rem !important;
}



.navbar-logo {
  padding: 15px;
  color: #fff;
}
.navbar-mainbg {
  background-color: #000000;
  padding: 0px;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: #000000;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: '\f105';
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}

.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}
.hori-selector .right {
  right: -25px;
}
.hori-selector .left {
  left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000000;
}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

i {
  margin-right: 10px;
}
@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}


 @media  (max-width:768px) {

  html{
    font-size: 54%;
  }
  nav ul{
    display: none;
  }
  div .BurgerMenu__container{
    display: flex;
  }
  .col-12{
    margin-top: 1.5rem !important;
  }
}  */


@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  background: #fff; /* fallback for old browsers */
}
html{
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
.navbar-logo {
  padding: 15px;
  color: #fff;
}
.navbar-mainbg {
  background-color: #000000;
  padding: 0px;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  /* color: rgba(255, 255, 255, 0.5); */
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: #000000;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: '\f105';
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
.navbar{
  display: flex;
  justify-content: space-between !important;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0 !important;
  align-items: center;
}


#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}


.col-md-6 span{
  padding-left: .6rem;
}

.col-md-6 h1 span{
  font-size: 3.5rem;
  font-weight: 600!important;
}
.col-md-6 h1 {
  font-size: 3rem;
  font-weight: 500!important;
}

p{
  font-size: 1.6rem;
}
p span{
  font-size: 2rem;
  font-family: cursive;
  font-weight: 600;
}



 .btn {
  
    font-size: 2rem !important ;
    font-weight: 600 !important;
    color: black !important;
    background-color: orange !important;
    border: none;
    
  /* border-radius: 2.3rem !important; */
}

.log:hover{
   color: #fff;
}
.nav-link{
  transform: .3s all;
  text-decoration: none;
}

.nav-link::after{
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: orangered;
  transition: width .3 ;
}

.nav-link:hover::after{
  /* transform: translateX(-50%) scale(1); */
  width: 100%;
  transition: width .5s;
}








.BurgerMenu__container {
  display: flex;
  flex-direction: column;
  padding-left: .8rem;
}

i {
  background-color: gray;
  width: 4rem;
    height: .5rem;
    margin: 0.3rem;
  border-radius: .4rem;
  transition:all ease 0.5s;
}

.open:nth-child(1) {
  transform: rotate(45deg) translateY(.8rem) translateX(.8rem);
}

.open:nth-child(2) {
  opacity: 0;
}

.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-.7rem) translateX(.7rem);
}


.close:nth-child(1) {
  transform: rotate(0) translateY(0);
}

.close:nth-child(2) {
  opacity: 1;
}

.close:nth-child(3) {
  transform: rotate(0) translateY(0);
}

.btn{
  /* width: 100%; */
  padding: .2rem .5rem;
  
}
.contact{font-size: 300%;
  color: orange;
}

.im {
  /* border-radius: 50%; */
  margin-top: 75px;
  width: 50%;
  height:33% !important;
}

.ml-2{
  margin-left: 1rem;
}
.ml-2 p{
  line-height: inherit;
}

.card-block{
  height: inherit;
}
.imge{
  height: 75vh;
}

.bt{
  flex-grow: 1 ;
}
.navbar-brand {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 3.25rem !important;
  text-decoration: none;
  white-space: nowrap;
}
.about{
  height: calc(100%-6%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about img{
  height: 10rem;
  width: 10rem;
}
.frm .d-flex  .fl
{
  flex-grow: 1;
}
textarea.form-control {
  min-height: calc(4.5em + 4.75rem + 2px) !important;
}

input, textarea{
  border: none !important;
  border-bottom: 1px solid rgb(240, 71, 9) !important;
  border-radius: 0% !important;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important
}

button{
  width: 50%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(31, 29, 29);
  color: white;
  text-align: center;
}
.p {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
  font-size: 2.3rem !important;
}

@media (max-width: 1024px) {

  html{
    font-size: 55%;
  }
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  ul{
    text-align: center;
  }
 
}

@media (max-width: 768px) {

  html{
    font-size: 50%;
  }
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .col-12{
    margin-top: 1.5rem !important;
  }
  ul{
    text-align: center;
  }
  .frm .rs{
    flex-direction: column;
  }
  .pt-5 {
    padding-top: 0rem!important;
}
  
  .navbar-collapse{
width: 100%;
transition: all 0.5s ease !important;
transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navbar-mainbg{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
  .BurgerMenu__container{
    justify-self: end !important;
  }

  #navbarSupportedContent{
    justify-self: end ;
    margin-right: -4.5rem ;
    transition-duration: 0.6s !important;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
  }
  #navbarSupportedContent ul li a{
/* border-bottom: 1px solid orangered !important; */
padding-bottom: .3rem;
font-size: 2.6rem;
  }
  .navbar{
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
  }
  h3 {
    font-size: calc(2.3rem + .6vw) !important;
    padding: 1rem;}

    .imge {
      align-items: start !important;
  }
  p {
    font-size: 2.4rem;}

    .mg{
      margin-bottom: 1.2rem !important;
    }
  
}